<div class="messages-item-list-container">
    <div class="messages-item-list-wrapper">
        <p-avatar size="large" icon="pi pi-user" shape="circle"></p-avatar>
        <div class="ilist-infos-content">
            <div class="content-section">
                <div class="ilist-infos-title">
                    John Doe
                </div>
                <div class="ilist-infos-date">12.30</div>
            </div>
            <div class="content-section">
                <div class="ilist-infos-message">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Voluptas nihil magni natus at optio ab tenetur
                    totam
                    mollitia assumenda. Vel mollitia quibusdam voluptates! Molestiae quidem quisquam vero rem quod
                    impedit?
                </div>
                <div class="ilist-message-waiting"></div>
            </div>
        </div>
    </div>
</div>