<div class="messages-chat-footer-container">
    <div class="messages-chat-footer-wrapper">
        <p-button icon="pi pi-face-smile" [text]="true" pTooltip="Ajouter un emoji" tooltipPosition="top" />
        <p-button icon="pi pi-paperclip" [text]="true" pTooltip="Attacher un document" tooltipPosition="top" />
        <textarea rows="1" pTextarea [fluid]="true" [autoResize]="true" placeholder="Écrire un message" [(ngModel)]="message"></textarea>
        <p-button label="Envoyer" icon="pi pi-send" [disabled]="message.length === 0"/>
    </div>
</div>