.app-container {
    height: 100%;
    width: 100%;

    .app-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        gap: 1.5rem;
        padding: 1.5rem;

        .app-content {
            width: calc(100% - var(--sidebar-width));
            max-width: calc(100% - var(--sidebar-width));
        }
    }
}