<div class="entity-collaborators-container">
    <div class="entity-collaborators-wrapper">
        <p-avatar-group>
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="normal"
                shape="circle" />
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" size="normal"
                shape="circle" />
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" size="normal"
                shape="circle" />
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png" size="normal"
                shape="circle" />
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png" size="normal"
                shape="circle" />
            <p-avatar label="+2" shape="circle" size="normal" />
        </p-avatar-group>
    </div>
</div>