<div class="messages-chat-header-container">
    <div class="messages-chat-header-wrapper">
        <div class="messages-chat-header-content">
            <p-avatar size="large" icon="pi pi-user" shape="circle"></p-avatar>
            <div class="chat-header-infos">
                <div class="chat-header-name">
                    John Doe
                </div>
                <div class="chat-header-members">
                    2 members
                </div>
            </div>
        </div>
        <div class="messages-chat-header-actions">
            <i class="pi pi-search"></i>
            <i class="pi pi-ellipsis-h"></i>
        </div>
    </div>
</div>
